<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="text-align:center">부산일과학고 일정 관리 사이트</h1>
    <h3><a href="/createTodo", style="text-align:right; text-decoration: none;">일정추가</a></h3>
    <h2 style="text-align:center">일정 조회</h2>
    <br>
    <form action="/todolist" method="get" style="text-align:center" >
      <select name="grade">
        <% for (let i of grades) { %>
          <option value= <%=i %>><%=i %>학년</option>
        <% } %>
      </select>
      <select name="class">
        <% for(let i of classes) { %>
          <option value= <%=i %>><%=i %>반</option>
        <% } %>
      <input type="submit" value="검색"/>
    </form>
  </body>
</html>
