<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="text-align:center">부산일과학고 학사일정 관리 사이트</h1>
    <br>
    <form action="/todolist" method="get" style="text-align:center" >
      <select name="grade">
        <% for(i = 1; i <= 3; i++) { %>
          <option value= <%=i %>><%=i %>학년</option>
        <% } %>
      </select>
      <select name="class">
        <% for(i = 1; i <= 5; i++) { %>
          <option value= <%=i %>><%=i %>반</option>
        <% } %>
      <input type="submit" value="검색"/>
    </form>
  </body>
</html>
