<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/">BSIS_TODO</a>
    <form action="/todolist" method="get">
      <select name="grade">
        <% for(let i of grades) { %>
          <% if(i == query_grade) {%>
            <option value= <%=i %> selected ><%=i %>학년</option>
          <% } else { %>
            <option value= <%=i %>><%=i %>학년</option>
          <% } %>
        <% } %>
      </select>
      <select name="class">
        <% for(let i of classes) { %>
          <% if(i == query_class) { %>
            <option value= <%=i %> selected ><%=i %>반</option>
          <% } else { %>
            <option value= <%=i %>><%=i %>반</option>
          <% } %>
        <% } %>
      <input type="submit" value="검색"/>
    </form>
    <h2>검색 결과</h2>
  </body>
</html>
