<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/", style="text-decoration: none;">BSIS_TODO</a></h1>
    <form action="/todolist" method="get">
      <select name="grade">
        <% for(let i of grades) { %>
          <% if(i == query_grade) {%>
            <option value= <%=i %> selected ><%=i %>학년</option>
          <% } else { %>
            <option value= <%=i %>><%=i %>학년</option>
          <% } %>
        <% } %>
      </select>
      <select name="class">
        <% for(let i of classes) { %>
          <% if(i == query_class) { %>
            <option value= <%=i %> selected ><%=i %>반</option>
          <% } else { %>
            <option value= <%=i %>><%=i %>반</option>
          <% } %>
        <% } %>
      <input type="submit" value="검색"/>
    </form>
    <h3>조회 결과</h3>
    <table>
      <thead>
        <tr>
          <th>이름</th>
          <th>과목</th>
          <th>기한</th>
          <th>내용</th>
        </tr>
      </thead>
      <tbody>
        <% for(let todo of todolist) { %>
          <tr>
            <td><%= JSON.parse(todo.title) %></td>
            <td><%= JSON.parse(todo.subject) %></td>
            <td><%= todo.deadline %></td>
            <td><%= JSON.parse(todo.description) %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
